<div class="alert alert-primary" role="alert">
    <strong> We are searching for Web Novels to translate which need TL/have been dropped. In case you want to submit
        one, please do so in the comments of <a href="/docs/welcome/introduction/">this page</a> </strong>
</div>
<div class="alert alert-dark" role="alert">
    <strong>Remember the Evangelion Version of 'Fly Me to the Moon'?</strong> <br>
    <b>I just released a completely remastered instrumental version of it! Please do check it out :)</b>
    <br><br>
    <iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/track/2PJkUkLiR7qoN88yHvGRP4?utm_source=generator&theme=0" width="100%"
        height="152" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>