<div class="alert alert-success" role="alert">
    <p> <strong> We are heavily reliant on Ads and donations for the functioning of this group. Please turn off your AdBlockers if you want to support :) </strong> </p>
    Or you can 
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Us on Ko-fi', '#29abe0', 'L3L6L287L');kofiwidget2.draw();</script> 
    <a href="https://www.paypal.me/leteps/10" target="_blank" style="display: inline-block; background-color: #0070ba; color: #fff; font-size: 14px; font-weight: bold; text-align: center; text-decoration: none; padding: 10px 20px; border-radius: 25px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
        Donate with PayPal
      </a>
</div>