<body class="amp-dark-mode amp-mode-mouse"
    style="opacity: 1; visibility: visible; animation: 0s ease 0s 1 normal none running none; overflow: hidden !important;">
    <amp-story standalone=""
        class="ms-NUtpfSg8X8guFpy_Jwe i-amphtml-element i-amphtml-layout-container i-amphtml-experiment-story-load-inactive-outside-viewport i-amphtml-built i-amphtml-story-desktop-one-panel i-amphtml-layout i-amphtml-story-loaded"
        poster-portrait-src="assets/4.jpeg" publisher-logo-src="assets/3.png" publisher="Sam Leteps"
        poster-landscape-src="assets/1.jpeg" poster-square-src="assets/5.jpeg" i-amphtml-layout="container" muted=""
        orientation="portrait"><amp-story-page id="uxawafqrxx"
            class="uxawafqrxx ms-st-pg i-amphtml-element i-amphtml-layout-container i-amphtml-built i-amphtml-layout i-amphtml-story-page-loaded"
            i-amphtml-layout="container" role="region" distance="0" aria-hidden="false" active=""> <amp-story-grid-layer
                template="fill"
                class="pbtlugdp i-amphtml-element i-amphtml-layout-container i-amphtml-story-layer i-amphtml-built i-amphtml-layout"
                i-amphtml-layout="container"> <amp-img width="720" height="1280" layout="responsive"
                    class="pbtlugd i-amphtml-element i-amphtml-layout-responsive i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout"
                    id="uxawafqrxx-bg" src="assets/2.jpeg" alt="Background Image" i-amphtml-layout="responsive"
                    style="--loader-delay-offset: 60ms !important;"><i-amphtml-sizer slot="i-amphtml-svc"
                        style="padding-top: 177.778%;"></i-amphtml-sizer><img decoding="async"
                        amp-img-id="uxawafqrxx-bg" alt="Background Image" src="assets/2.jpeg"
                        class="i-amphtml-fill-content i-amphtml-replaced-content"></amp-img> </amp-story-grid-layer>
            <amp-story-grid-layer template="vertical" id="tiweb"
                class="scrim i-amphtml-element i-amphtml-layout-container i-amphtml-story-layer i-amphtml-built i-amphtml-layout"
                i-amphtml-layout="container">
                <div class="letterbox">
                    <div class="oklwx pa">
                        <p class="ucxst pa">Chapter Number<br></p>
                        <div class="ppiir pa svg-el"><svg xmlns="http://www.w3.org/2000/svg" width="17.987"
                                height="1.927" viewBox="0 0 17.987 1.927">
                                <rect id="wqjxffgiyx" data-name="Rectangle 4" width="17.987" height="1.927"
                                    fill="#202124"></rect>
                            </svg> </div>
                    </div>
                    <div class="qukoj pa">
                        <p class="exume pa">Chapter Name<br>Dash<br></p>
                        <p class="qormg pa">Best place for night party.</p>
                    </div>
                </div>
            </amp-story-grid-layer>
            <div class="i-amphtml-story-spinner" aria-hidden="true" aria-label="Loading video">
                <div class="i-amphtml-story-spinner-container">
                    <div class="i-amphtml-story-spinner-layer">
                        <div class="i-amphtml-story-spinner-circle-clipper left"></div>
                        <div class="i-amphtml-story-spinner-circle-clipper right"></div>
                    </div>
                </div>
            </div>
        </amp-story-page><amp-story-page id="newxflumpy"
            class="newxflumpy ms-st-pg i-amphtml-element i-amphtml-layout-container i-amphtml-built i-amphtml-layout i-amphtml-story-page-loaded"
            i-amphtml-layout="container" role="region" distance="1" aria-hidden="true"> <amp-story-grid-layer
                template="fill"
                class="pbuimlsp i-amphtml-element i-amphtml-layout-container i-amphtml-story-layer i-amphtml-built i-amphtml-layout"
                i-amphtml-layout="container">
                <div class="pbuimls"></div>
            </amp-story-grid-layer> <amp-story-grid-layer template="vertical" id="fnwpg"
                class="i-amphtml-element i-amphtml-layout-container i-amphtml-story-layer i-amphtml-built i-amphtml-layout"
                i-amphtml-layout="container">
                <div class="letterbox">
                    <p class="mlgui pa">Story Text Paragraph<br></p>
                </div>
            </amp-story-grid-layer>
            <div class="i-amphtml-story-spinner" aria-hidden="true" aria-label="Loading video">
                <div class="i-amphtml-story-spinner-container">
                    <div class="i-amphtml-story-spinner-layer">
                        <div class="i-amphtml-story-spinner-circle-clipper left"></div>
                        <div class="i-amphtml-story-spinner-circle-clipper right"></div>
                    </div>
                </div>
            </div>
        </amp-story-page><amp-story-page id="ckycezzztk"
            class="ckycezzztk ms-st-pg i-amphtml-element i-amphtml-layout-container i-amphtml-built i-amphtml-layout i-amphtml-story-page-loaded"
            i-amphtml-layout="container" role="region" distance="2" aria-hidden="true"> <amp-story-grid-layer
                template="fill"
                class="pbgxmnxp i-amphtml-element i-amphtml-layout-container i-amphtml-story-layer i-amphtml-built i-amphtml-layout"
                i-amphtml-layout="container">
                <div class="pbgxmnx"></div>
            </amp-story-grid-layer> <amp-story-grid-layer template="vertical" id="guneg"
                class="i-amphtml-element i-amphtml-layout-container i-amphtml-story-layer i-amphtml-built i-amphtml-layout"
                i-amphtml-layout="container">
                <div class="letterbox">
                    <h1 class="xxsex pa">Check into<br><br>to stay up-to-date with releases<br></h1>
                    <h1 class="rgggm pa">Visit <br><br>for more chapters and translated Novels<br></h1>
                    <div class="qfbuc pa text-glitch-effect qfbuc-text-glitch-effect"
                        imagesrc="/static/media/GlitchEffect.bd9d45ef.gif"><span
                            class="glitch-before pa">NovelUpdates</span>NovelUpdates<a href="https://fossdesk.tech"
                            role="link" data-tooltip-text="Click Here" class="story-tooltip pa"
                            data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://fossdesk.tech"
                            data-vars-ctalink="https://fossdesk.tech" i-amphtml-orig-tabindex="0"
                            tabindex="-1"></a><span class="glitch-after pa">NovelUpdates</span></div>
                    <div class="oxbkw pa text-glitch-effect oxbkw-text-glitch-effect"
                        imagesrc="/static/media/GlitchEffect.bd9d45ef.gif"><span class="glitch-before pa">FOSSDesk
                            Translations</span>FOSSDesk Translations<a href="https://fossdesk.tech" role="link"
                            data-tooltip-text="Click Here" class="story-tooltip pa"
                            data-tooltip-icon="https://www.google.com/s2/favicons?domain=https://fossdesk.tech"
                            data-vars-ctalink="https://fossdesk.tech" i-amphtml-orig-tabindex="0"
                            tabindex="-1"></a><span class="glitch-after pa">FOSSDesk Translations</span></div>
                </div>
            </amp-story-grid-layer> <amp-story-animation layout="nodisplay" trigger="visibility">
                <script type="application/json"> [{
                    "selector": ".text-glitch-effect",
                    "duration": "1s",
                    "easing": "linear",
                    "iterations": "infinite",
                    "keyframes": [
                        {"offset": 0.02, "transform": "translate(2px,0) skew(0deg)"},
                        {"offset": 0.04, "transform": "translate(-2px,0) skew(0deg)"},
                        {"offset": 0.6, "transform": "translate(-2px,0) skew(0deg)"},
                        {"offset": 0.62, "transform": "translate(0,0) skew(5deg)"},
                        {"offset": 0.64, "transform": "translate(2px,0) skew(0deg)"}
                    ]
                },{
                    "selector": ".glitch-before",
                    "duration": "1s",
                    "easing": "linear",
                    "iterations": "infinite",
                    "keyframes": [
                        {"offset": 0.02, "transform": "translate(2px,-2px)"},
                        {"offset": 0.04, "transform": "translate(-2px,2px)"},
                        {"offset": 0.6, "transform": "translate(-2px,2px)"},
                        {"offset": 0.62, "transform": "translate(13px,-1px) skew(-13deg)"},
                        {"offset": 0.64, "transform": "translate(2px,-2px)"}
                    ]
                },{
                    "selector": ".glitch-after",
                    "duration": "1.5s",
                    "easing": "linear",
                    "iterations": "infinite",
                    "keyframes": [
                        {"offset": 0.02, "transform": "translate(-2px,0)"},
                        {"offset": 0.04, "transform": "translate(-2px,0)"},
                        {"offset": 0.60, "transform": "translate(-2px,0)"},
                        {"offset": 0.62, "transform": "translate(-22px,5px) skew(21deg)"},
                        {"offset": 0.64, "transform": "translate(-2px,0)"}
                    ]
                }] </script>
            </amp-story-animation>
            <div class="i-amphtml-story-spinner" aria-hidden="true" aria-label="Loading video">
                <div class="i-amphtml-story-spinner-container">
                    <div class="i-amphtml-story-spinner-layer">
                        <div class="i-amphtml-story-spinner-circle-clipper left"></div>
                        <div class="i-amphtml-story-spinner-circle-clipper right"></div>
                    </div>
                </div>
            </div>
        </amp-story-page><amp-analytics config="https://apis.makestories.io/analytics?storyId=-NUtpfSg8X8guFpy_Jwe"
            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout"
            style="width: 1px; height: 1px;" i-amphtml-layout="fixed" aria-hidden="true"
            hidden=""></amp-analytics><amp-analytics type="gtag" data-credentials="include"
            class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout"
            style="width: 1px; height: 1px;" i-amphtml-layout="fixed" aria-hidden="true" hidden="">
            <script type="application/json"> {
        "vars": {
            "gtag_id": "G-68WN62YWE8",
            "config":{
                "G-68WN62YWE8":{
                    "groups":"default"
                }
            }
        },
        "triggers": {
            "storyProgress": {
                "on": "story-page-visible",
                "vars": {
                    "event_name": "custom",
                    "event_action": "story_progress",
                    "event_category": "${title}",
                    "event_label": "${storyPageId}",
                    "send_to": ["G-68WN62YWE8"]
                }
            },
            "storyEnd": {
                "on": "story-last-page-visible",
                "vars": {
                    "event_name": "custom",
                    "event_action": "story_complete",
                    "event_category": "${title}",
                    "send_to": ["G-68WN62YWE8"]
                }
            },
            "anchorClicks": {
                "on": "click",
                "request": "pageview",
                "selector": "a.cta-a",
                "vars": {
                    "event_name": "custom",
                    "event_action": "cta_clicked",
                    "event_category": "${title}",
                    "event_label": "${ctalink}",
                    "send_to": ["G-68WN62YWE8"]
                }
            },
            "tooltipClickThrough": {
                "on": "story-click-through",
                "request": "pageview",
                "selector": "a.cta-a",
                "vars": {
                    "event_name": "custom",
                    "event_action": "link_tooltip_clicked",
                    "event_category": "${title}",
                    "event_label": "${ctalink}",
                    "send_to": ["G-68WN62YWE8"]
                }
            },
            "tooltipClicks": {
                "on": "story-focus",
                "request": "pageview",
                "vars": {
                    "event_name": "custom",
                    "event_action": "link_tooltip_opened",
                    "event_category": "${title}",
                    "event_label": "${ctalink}",
                    "send_to": ["G-68WN62YWE8"]
                }
            }
        }
    } </script>
        </amp-analytics><amp-story-bookend
            src="https://apis.makestories.io/preview/-NUtpfSg8X8guFpy_Jwe/getStoryBookend"
            layout="nodisplay"></amp-story-bookend><canvas
            style="width: 100% !important; height: 100% !important; position: absolute !important; left: 0px !important; top: 0px !important;"
            width="3" height="3"></canvas><amp-story-share-menu></amp-story-share-menu>
        <div class="i-amphtml-system-layer-host"></div>
        <div class="i-amphtml-story-button-container next-container i-amphtml-story-fwd-next"><button
                class="i-amphtml-story-button-move" aria-label="Next page"></button></div>
        <div
            class="i-amphtml-story-button-container i-amphtml-story-back-prev prev-container i-amphtml-story-button-hidden">
            <button class="i-amphtml-story-button-move" aria-label="Previous page" disabled=""></button></div>
    </amp-story> </body>